<template>
    <div>
        <h1>Cats For Adoption</h1>
        <b-table striped hover :items="cats">
            <template #cell(name)="data">
        <!-- `data.value` is the value after formatted by the Formatter -->
        <router-link :to="`/pets/cats/${data.index}`">{{ data.value }}</router-link>
        <!-- <a href="/pets/cats/{{data.index}}">{{ data.value }}</a> -->
      </template>
        </b-table>
    </div>
</template>

<script>
// import cats from '@/data/cats'
import { mapState } from 'vuex'
export default {
    data () {
        return {
            // cats
        }
    },
    computed: {
        ...mapState([
            // console.log('cats'),
            'cats'
        ])
    }
}
</script>
