<template>
  <div>
    <!-- {{ $route.params.species}}
    {{ $route.params.id}} -->
    <h1>
      {{animal.name}} ({{ $route.params.species}})
    </h1>
    <p> Age: {{animal.age}} years old</p>
          </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
data () {
  return {
    animal: {}
  }
},
  computed: {
    ...mapState([
      'cats',
      'dogs'
    ])
    // cats () {
    //   return this.$store.state.cats
    // },
    // dogs () {
    //   return this.$store.state.dogs
    // }
  },
  mounted () {
        // console.log(this.cats)
      // console.log(this.$route.params)
      // console.log(this.$route.params.species)
// this.cats == this['cats']
      // this.[this.$route.params.species][this.$route.params.id]
      const x = this.$route.params.species
      // console.log(typeof this.$route.params.species)
console.log(this[`${x}`][parseInt(this.$route.params.id)])
      // console.log(this.cats[parseInt(this.$route.params.id)])
      const animal = this[`${x}`][parseInt(this.$route.params.id)]
      this.animal = animal
      // console.log(this.$route.params.species[parseInt(this.$route.params.id)])
      // const ani = this.$route.params.species[parseInt(this.$route.params.id)]
      // console.log(ani)
      // const animals = this.cats[parseInt(this.$route.params.species)][parseInt(this.$route.params.id)]
      // console.log(animals)
            // const animals =this.$route.params.species
  }
}
  </script>
